<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @owner.firstName %>
</p>

<p>
  <b>Lastname:</b>
  <%= @owner.lastName %>
</p>


<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
