<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @server.name %>
</p>

<p>
  <b>Address:</b>
  <%= @server.address %>
</p>

<p><b>Port:</b><%= @server.port %></p>
<p><b>Hostt:</b><%= @server.host %></p>

<p>
  <b>Authentication:</b>
  <%= @server.authentication %>
</p>

<p>
  <b>User name:</b>
  <%= @server.user_name %>
</p>

<p>
  <b>Password digest:</b>
  <%= @server.password_digest %>
</p>

<p>
  <b>Emails Today:</b>
  <%= @server.count_day %>
</p>

<p>
  <b>Max Emails per Day:</b>
  <%= @server.max_emails %>
</p>
<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
