<%= form_for(@mailing_list) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="action">
    <%= f.button :submit, label: "Add Mailing List" %>
  </div>
<% end %>
