<p id="notice"><%= notice %></p>

<p>
  <h5><%= @mailing_list.name %></h5>
</p>

<p>
  Download:
  <%= link_to "CSV", mailing_list_path(format: "csv") %>
</p>

<h5> Emails </h5>
<br>
<%= will_filter_tag(@emails) %>
<%= form_tag remove_many_mailing_lists_path do %>
  <%= hidden_field_tag :list_id, @mailing_list.id %>
  <%= will_filter_table_tag(@emails, :columns => [
      :id, 
      :name,
      { :key => :emailAddress,
          :value => lambda{|obj| 
            link_to(obj.emailAddress, obj) 
      }},
      :company,
      :gender,
      :title, 
      :first_name,
      :last_name,
      :address,
      :city,
      :state,
      :zip,
      { :key => :count,
          :value => lambda{|obj| 
            obj.count
      },:title => "Times Contacted"},  
      [:remove, lambda{ |obj|
              actions = []  
              actions << check_box_tag("email_ids[]", obj.id)
              actions.join(' | ').html_safe
          },], 
       [:actions, lambda{ |obj|
                actions = []
                actions << link_to('Edit', edit_email_path(obj.id))
                actions.join(' | ').html_safe
            }, ]
      ] )%>

    <%= submit_tag "Remove Emails" %>
<% end %>


<h5>Import (.xls, .xlsx, and .cvs)</h5>
  
<%= form_tag import_mailing_lists_path(:list_id => @mailing_list.id), multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<p> <%= link_to 'Add Emails', add_mailing_lists_path(:id => @mailing_list.id) %></p>
 
<%= link_to 'Edit', edit_mailing_list_path(@mailing_list) %> |
<%= link_to 'Back', mailing_lists_path %>
