<h1>List Severs</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @server_lists.each do |server_list| %>
  <tr>
    <td><%= server_list.name %></td>
    <td><%= link_to 'Show', server_list %></td>
    <td><%= link_to 'Edit', edit_server_list_path(server_list) %></td>
    <td><%= link_to 'Destroy', server_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Server list', new_server_list_path %>
