<h1>Sever List</h1>

<table id="serverlist" class="display">
<thead>
  <tr>
    <th>Name</th>
    <th>Count</th>
    <th></th>
    <th></th>
  </tr>
<thead>

<tbody>
  <% @server_lists.each do |server_list| %>
    <tr>
      <td><%= link_to server_list.name, server_list %></td>
      <td><%= server_list.server_ids.size %></td>
      <td><%= link_to 'Edit', edit_server_list_path(server_list) %></td>
      <td><%= link_to 'Destroy', server_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>

</table>

<br />

<%= link_to 'New Server List', new_server_list_path %>
