<p id="notice"><%= notice %></p>

<h5>Server List : <%= @server_list.name %></h5>

<br>
<h5>Remove Server</h5>

<%= will_filter_tag(@servers) %>
<%= form_tag remove_many_server_lists_path do %>
	<%= hidden_field_tag :server_list_id, @server_list.id %>
<%= will_filter_table_tag(@servers, :columns => [
    :id, 
    { :key => :user_name,
        :value => lambda{|obj| 
          link_to(obj.user_name, obj) 
    }}, 
    :address, 
    :port, 
    :host, 
    :authentication,
    { :key => "Active",
        :value => lambda{|obj| 
          obj.isactive?
    }},  
    :count_day, 
    :max_emails,
    [:remove, lambda{ |obj|
              actions = []  
              actions << check_box_tag("server_ids[]", obj.id)
              actions.join(' | ').html_safe
          },], 
     [:actions, lambda{ |obj|
              actions = []
              actions << link_to('Edit', edit_server_path(obj.id))   
              actions.join(' | ').html_safe
          }, 'padding:3px;width:150px;padding-left:10px;']
    ] )%>


<%= submit_tag "Remove Servers" %>
<% end %>

<p></p>
<p></p>
<p></p>

<br>
<h5>Add Servers</h5>

	<%= will_filter_tag(@server_all) %>
	<%= form_tag add_servers_server_lists_path do %>
  	<%= hidden_field_tag :server_list_id, @server_list.id %>
	<%= will_filter_table_tag(@server_all, :columns => [
	    :id, 
	    { :key => :user_name,
	        :value => lambda{|obj| 
	          link_to(obj.user_name, obj) 
	    }}, 
	    :address, 
	    :port, 
	    :host, 
	    :authentication,
	    { :key => "Active",
	        :value => lambda{|obj| 
	          obj.isactive?
	    }},  
	    :count_day, 
	    :max_emails,
	    [:remove, lambda{ |obj|
	              actions = []  
	              actions << check_box_tag("server_ids[]", obj.id)
	              actions.join(' | ').html_safe
	          },], 
	     [:actions, lambda{ |obj|
	              actions = []
	              actions << link_to('Edit', edit_server+path(obj.id)   
	              actions.join(' | ').html_safe
	          }, 'padding:3px;width:150px;padding-left:10px;']
	    ] )%>

	<%= submit_tag "Add Servers" %>
<% end %>




<%= link_to 'Edit', edit_server_list_path(@server_list) %> |
<%= link_to 'Back', server_lists_path %>
