<p><h2 >Emails</h2></p>

<p>
<table id="emails" class="display">
  <thead>
  <tr>
    <th>Email</th>
    <th>Mailing Lists</th>
    <th>Times Contacted</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody><% @emails.each do |email| %>
  <tr>
    <td><%= link_to email.emailAddress, email %></td>
    <td><%= email.mailing_lists.size %></td>
    <td><%= email.count %></td>
    <td><%= link_to 'Edit', edit_email_path(email) %></td>
    <td><%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

</p>
<br />
<p><%= link_to 'New Email', new_email_path %></p>
