<p id="notice"><%= notice %></p>

<p>
  <b>ID: </b><%= @email.id %>
  <br>
  <b>Email: </b><%= @email.emailAddress %>
  <br>
  <b>Title: </b><%=@email.title %>
  <br>
  <b>Name: </b><%= @email.name %>
  <br>
  <b>First Name: </b><%= @email.first_name %>
  <br>
  <b>Last Name: </b><%= @email.last_name %>
  <br>
  <b>Gender: </b><%= @email.gender %>
  <br>
  <b>Company: </b><%= @email.company %>
  <br>
  <b>Address: </b><%= @email.address %>
  <br>
  <b>City: </b><%= @email.city %>
  <br>
  <b>Sate: </b><%= @email.state %>
  <br>
  <b>Zip: </b><%= @email.zip %>
  <br>
  <b>Times Contacted: </b> <%= @email.count %>
<p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
